.researcher{
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
}

.researcher form{
    display: block;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.researcher input, button{
    height: 35px;
    border: none;
    border-bottom: 1px solid #346;
}

.researcher input{
    width: 210px;
}

.researcher button{
    width: 70px;
    background: cadetblue;
    color: chocolate;
    margin-left: 15px;
}

.researcher .row{
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}