body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url("./components/CSSs/login.css");

@import url("./components/WorkshopsN/workshopsN.css");

@import url("./components/pages/detailWorkshop/detailWorkshop.css");

@import url("./components/Researcher/researcher.css");

@import url("./components/Item/createResearcher/createResearcher.css");

@import url("./components/Item/createWorkshopN/createWorkshopsN.css");